.comment_form_area button{
			background-color:#17a2b8;
			color:white;
		}
.breadcome-area{
	margin-top:50px;
}
.comment_form_area button {
			background-color: #17a2b8;
			color: white;
		}
		.form-group{
			text-align:left
		}